

#myTitle{
    position:absolute;
    color: white;
    /* -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black; */
    font-size: 30px;
    z-index:2;
    top:5%;
    left:15%;

}
#secondTitle{
    font-size:50px;
}

#lastTitle{
    font-size:70px;
}
#tryAgain{
    color: red;
    font-size:70px;
    left: 30%;
    position: absolute;
    z-index:2;
    top:15%;
}
#yes{
    color: red;
    position:absolute;
    z-index: 2;
    font-size:30px;
    left:40%;
    top:25%;
}
#no{
    color: red;
    position:absolute;
    z-index: 2;
    font-size:30px;
    left:55%;
    top:25%;
}

#navBar{
    font-size:30px;
    position:absolute;
    z-index:2;
    top:20%;
    left:15%;
    list-style: none;
    color: white;
 
}
#modeSelection{
    font-size:30px;
    position:absolute;
    z-index:2;
    top:20%;
    left:15%;
    list-style: none;
    color: white;
}
#translation{
    font-size:20px;
}
#score{
    font-size: 30px;
    position:absolute;
    margin-left:auto;
    left: 14%;
    top: 5%;
    z-index:3;

}
#humansKilled{
    margin-left:auto;
    font-size: 30px;
    position:absolute;
    left: 14%;
    top: 10%;
    z-index:3;
    
}
.typed{
    color:black;
}

#sitelinks{
    margin-right: auto;
    position:absolute;
    gap: 5%;
    right: 5%;
    display: flex;
    z-index:3;
    top:5%;
}

#instructions{
    font-size:15px;
    color:yellow;
}